#statusBar {
    h1 {
        color: rgb(228, 219, 208);
    }
    #statusBarContainer {
        display: flex;
    }
    #gameLevel {
        flex-grow: 1;
        border-bottom: solid 10px #f4eb94;
    }
    .playerInfo {
        flex-grow: 2;
        border-bottom: solid 10px #ed6161;
    }
    // #playerName {
    //     flex-grow: 2;
    //     border-bottom: solid 10px #ed6161;
    // }
    #restartButton {
        flex-grow: 1;
        border-bottom: solid 10px #66d2e1;
    }
    #gameLevel,
    #playerName,
    #restartButton {
        text-align: center;
        align-self: flex-end;
        font-size: 2em;
    }

    .score {
        text-align: center;
        //align-self: flex-end;
        font-size: 1.8em;
    }

    #restartButton > svg {
        width: 30%;
        cursor: pointer;
    }
}
