#newGameForm {
    select {
        margin-top: 10px;
        font-size: 24px;
        border-radius: 32px;
        padding: 10px 20px;
        color: #434343;
    }

    .container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        padding: 5% 10%;
    }

    .pointerContainer {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .templateContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3%;
    }

    .templateContainer img {
        height: 130px;
    }
}
